.app-navbar{
    background: #258cfb;
    .text-dark {
      color: rgb(186, 18, 93) !important;
      &:hover{
        color: #d121d4 !important;
      }
    }
  
  }
  .navbar-brand{
    color: rgb(18, 197, 87) !important;
    &:hover{
      color: #68056a !important;
    }
  }
  .dropdown-toggle{
    border-color: #2fedc1;
     color: #e612bf;
  }