@* @page không nên để page ở trong MVC Controller dễ lỗi như này ! *@
@model App.Models.ProductModel


<div class="card" style="background-color: rgb(82, 225, 137); margin: 30px; padding: 30px">
<form>
    <div class="card-header">
        <h1>tên sản phẩm : @Model.Name <br>
            Giá : @Model.Price !</h1>
    </div>
    <div class="card-body">
           <h1>

    Xin chào tôi là View của Product
</h1>
    </div>
    <div class="card-footer">

    </div>
</form>
</div>
