@model string
@{
    Layout="_Layout";
}
<div class="card" style="background-color: rgb(82, 106, 225); margin: 30px; padding: 30px">
<form>
    <div class="card-header">
        <h1>Hallo @Model !</h1>
    </div>
    <div class="card-body">
           <h1>
    Đây là trang test cho IActions Result Hallo
    Xin chào tôi là View của Hallo
</h1>
    </div>
    <div class="card-footer">

    </div>
</form>
</div>
@this.Path