@page "/razor.html"
@{
    Layout= "_Layout.cshtml";
}
<h1>Trang Razor Pages</h1>
<p>
    Razor Pages là một Template trong .NET . nó là TEMPLATE ENGINE mặc định của ASP NET MVC
    có chucu71 năng Render dựng file(.cshtml)
    Views  cho phép viết mã HTML và những code C#.
</p>
