@{
    ViewData["Title"] = "Xóa Dbcontext";
}
<h1>@ViewData["Title"]</h1>
<p class="alert alert-danger">Có chắc chắn xóa DbContext</p>

<form method="post">
    <button class="btn btn-danger" type="submit">Xóa Databse Context</button>
<br>
    <a asp-action="Index">Quay về Database Context</a>

</form>

